<h1>Sports Teams</h1>

<% @teams.each do |team| %>
  Team: <%= team.name.capitalize %> <br>
  Mascot: <%= team.creature.capitalize %> <br>
  State: <%= team.state.capitalize %> <br>
  Sport: <%= team.sport.capitalize %> <br><br>
<% end %>