<div ng-app="app">
  <div ng-controller="teamsCtrl" ng-init="setup()">

    <h1>Sports Teams</h1>
      
      <div ng-repeat="error in errors" style="color: red; font-style: italic; font-size: .8em">{{ error }}</div>
      <input ng-model="teamName" placeholder="Name"> <br>
      <input ng-model="teamCreature" placeholder="Creature"> <br>
      <input ng-model="teamState" placeholder="State"> <br>
      <input ng-model="teamSport" placeholder="Sport"> <br>
      <button ng-click="addTeam(teamName,teamCreature,teamState,teamSport)">Add Team</button> <br><br>

      <div ng-repeat="team in teams track by $index">
        <b>Team: {{ team.name }}</b><br>
        Mascot: {{ team.creature }}<br>
        State: {{ team.state }}<br>
        Sport: {{ team.sport }}<br><br>
      </div>

<!--     <% @teams.each do |team| %>
      Team: <%= team.name.capitalize %> <br>
      Mascot: <%= team.creature.capitalize %> <br>
      State: <%= team.state.capitalize %> <br>
      Sport: <%= team.sport.capitalize %> <br><br>
    <% end %> -->

  </div>
</div>