.ng-enter, .ng-move{
  -webkit-animation: bounceInLeft 1s;
  -moz-animation: bounceInLeft 1s;
  -o-animation: bounceInLeft 1s;
  animation: bounceInLeft 1s;
}

.ng-leave{
  -webkit-animation: slideOutLeft 1s;
  -moz-animation: slideOutLeft 1s;
  -o-animation: slideOutLeft 1s;
  animation: slideOutLeft 1s;
}

.center {
  text-align: center;
}