// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: dimgray;
}

.table {
  width: 100%;
  padding: 5px;
}

.row {
  width: 100%;

}

.header {
  font-weight: bold;
  color: #fff;
  background-color: gray;
}

.cell {
  width: 24%;
  float: left;
  padding: 5px;
  border: 1px solid gray;
}
